body {

}


/* Cool Fonts to use

font-family: 'Anton', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Lobster', cursive;


*/

.all_star_home_banner {

  margin-bottom: auto;
  margin-top: -7rem;
  background: url(../img/home_banner001.jpg) center / cover no-repeat;
  height: 30rem;
  width:100vw;


}

.all_star_home_banner_card {

  margin-top: 12rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.primary_button_styles {
background-color: #1e90ff;

}

.banner_card_button_styles {
  background-color: #ffffff;
  color:#333333;


}

.tampa_spotlight {

background-color: #1e90ff;
color: #FFFFFF;
height:inherit;


}

.tampa_spacer {

   margin-top: 10rem;
   margin-left: 6rem;
   margin-right: 6rem;

}

.tampa_spacer_button {

   margin-top: 2rem;
   margin-bottom: 4rem;

}

.hockey_spotlight_style {

  margin-top: 5rem;
  margin-bottom: 5rem;

}

.location_bg_color {

  background-color: #1E90FF;
  height: inherit;
  color:#ffffff;
}

.banner_card_style {

  margin-top: 6rem;

}

.headline_callout {

 font-family: 'Anton', sans-serif;

}

.top_headline_style {

  color: #777777;
}

.sub-headline_callout {

 font-family: 'Lobster', cursive;

}

/*/////// GLOBAL FOOTER CSS /////////// */

.footer_logo li, a {

  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;



}

#footer_logo{

  font-family: 'Anton', sans-serif;
  color: #fff;
  font-size: 1.3rem;


}


.marketing-site-footer {
  background: #2c3840;
  color: #8aa0ae;
  padding: 2rem 0 0;
}

.marketing-site-footer .marketing-site-footer-menu-social a {
  color: #fefefe;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: auto;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-name {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.marketing-site-footer-title {
  color: #fefefe;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.marketing-site-footer-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: auto;
}

.marketing-site-footer-block .fa {
  font-size: 2rem;
  color: #020304;
}

.marketing-site-footer-block p {
  margin-left: 1rem;
  line-height: 1.125rem;
}

.marketing-site-footer-bottom {
  background: #020304;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: #8aa0ae;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}

/*/////// GLOBAL FOOTER CSS /////////// */
