
/* Cool Fonts to use

font-family: 'Anton', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Lobster', cursive;


*/

.skills_banner {

  margin-bottom: auto;
  margin-top: -7rem;
  background: url(../img/skills_compete.jpg) center / cover no-repeat;
  height: 30rem;
  width:100vw;

}

.skills_banner_text {

  font-family: 'Lobster', cursive;
  color: #FFFFFF;
  padding-top: 15rem;

}

.skills_banner_text_menu {

  font-family: 'Lobster', cursive;
  color: #777777;


}


.video_section {

height: inherit;
padding-top: 6rem;

}

.parent_nav_container {

margin-top: -6rem;

}
.sub_card_nav_links li a {

 color:#888888;
 font-family: 'Anton', sans-serif;
align-content: center;


}
