/* Cool Fonts to use

font-family: 'Anton', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Lobster', cursive;


*/

.skills_banner {

  margin-bottom: auto;
  margin-top: -12rem;
  background: url(../img/all-star-players.jpg) center / cover no-repeat;
  height: 40rem;
  width:100vw;

}